*{
    margin: 0;
    padding: 0;

}
#top{
    width: 100%;
    height: 259px;
    background-color: rgb(231, 229, 229);
    margin-top: 95px;
}
#top>h1{
    padding-top: 75px;
    padding-left: 121px;
    margin-bottom: -5px;
    font-family: RFFontRoman,Arial,Sans-Serif;
    font-size: 41px;
    font-weight: 400;
    color: #222;
    line-height: 1.27;
    letter-spacing: .5px;
    text-align: left;
    text-transform: unset;
}
#top>p{
    padding-left: 121px;
   
    font-family: ProximaNovaRegular,Arial,Sans-Serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    line-height: 1.43;
    letter-spacing: .5px;
    margin-top: 0.8rem;
    text-align: left;
}
#mid{
    width: 100%;
    height: auto;
    margin-top: 95px;
    
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 10px;
    justify-content: center;
}
#container>div{
    width: 100%;
    height: 390px;
    margin-left: 15px;
    justify-content: center;
}
#container>div>img{
    width: 50%;
    height: 150px;
    justify-content: center;
    margin-left: 45px;
}
#container>div>h1{
    padding: 5px;
    margin-bottom: 5px;
}
#container>div>h2{
    padding: 7px;
    font-size: 20px;
}
#container>div>p{
    padding: 7px;
    line-height: 17px;
    color: rgb(53, 53, 53);
    line-height: 1.43;
    letter-spacing: .3px;
}
#container>div>button{
    padding: 7px 109px;
    font-size: 17px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px;
}
#container>div>h6{
    padding: 7px;
    color: rgb(92, 91, 91);
    font-size: 13px;
}
#large{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#imge{
    margin-top: 10px;

}
#imgo{
    margin-top: 10px;

}
#imge>img{
    width: 70%;

    padding-left: 190px;
}
#imgo>h1{
    margin-top: 90px;
    margin-bottom: 10px;
    padding-left: 25px;
}
#imgo>p{
    padding-left: 25px;
    padding-right: 75px;
    line-height: 23px;
    font-family: ProximaNovaRegular,Arial,Sans-Serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    line-height: 1.43;
    letter-spacing: .5px;
    margin-top: 0.8rem;
}
#imgo>h4{
    padding-left: 25px;
    margin-top: 15px;
    font-family: ProximaNovaRegular,Arial,Sans-Serif;
}
#imgo>button{
    margin-top: 15px;
    margin-left: 25px;
    padding: 7px 129px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: solid 1px;
}
#imgo>h2{
    margin-top: 15px;
    padding-left: 25px;
    font-family: ProximaNovaRegular,Arial,Sans-Serif;
}
#imgo>div{
    width: 363px;
    height: 55px;
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
    background-color: rgb(231, 229, 229) ;
}#imgo>div>h4{
    padding-top: 19px;

}
#imgcont{
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: auto;
}
#image1>img{
    width: 85%;
    height: 325px;
    padding-top: 25px;
}
#image2>img{
    width:  85%;
    height: 325px;
    padding-top: 25px;
}
#image3>img{
    width:  85%;
    height: 325px;
    padding-top: 25px;
}
#head{
    margin-top: 31px;
    text-align: center;
}
#image1,#image2,#image3{
    width: 100%;
    height: 150px;
}
#head>h1{
    line-height: 23px;
    font-family: ProximaNovaRegular,Arial,Sans-Serif;
    font-size: 25px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    line-height: 1.43;
    letter-spacing: .5px;
}
#des{
    width: 85%;
    margin: auto;
    margin-top: 225px;
    background-color: rgb(243, 223, 200);
}
#des>p{
    line-height: 23px;
    font-family: ProximaNovaRegular,Arial,Sans-Serif;
    font-size: 19px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    line-height: 1.43;
    letter-spacing: .5px;
}
#des>h1{
    margin-top: 25px;
}