*{
    margin: 0;
    padding: 0;
    font-family:ProximaNovaRegular,Arial,Sans-Serif;
}
/*************************** NAVBAR HEADING***************************/


nav{
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   }
   .line{
      border-bottom: 1px solid black;
      display: block;
   }
  .navbar{
      background-color: white;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .navbar div{
   justify-content: space-between;
      align-items: center;
  }
  .navbar img{
   margin-left: 200px;
  }
  .navbar h3{
   margin-left: 20px;
  }
  .icon{
   display: flex;
   padding-left: 300px;
  }
  .icon >p>a{
   font-size: 16px;
   padding: 10px;
   color: rgb(8, 7, 7);
  }
  #right{
      display: inline-block;
      margin: 1px;
  }
  /* div{
      align-items: center;
      width: 50%;
      justify-content: center;
  } */
  .navbar ul{
      overflow: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
  }
  .topp{
      margin: 20px;
      align-items: center;
  }
  .navbar li{
      list-style: none;
      margin: 16px 25px;
  }
  .navbar li a{
      display: inline-block;
      text-decoration: none;
      color: black;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 12px;
  }
  .navbar ul li ul{
   position: absolute;
   left: 0;
   width: 200px;
   background: #fff;

  }
  .navbar ul li ul li{
   width: 100%;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .icon{
      margin-top: 30px;
  }
  .icon a{
      text-decoration: none;
      font-size: 30px;
      margin-right: 15px;
      color: #ababab;
      display: inline-block;
      transition: transform 0.5s;
  }
  .icon a:hover{
      color: #ff004f;
      transform: translate(-5px);
  }
  .icon button{
      border: 0;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      cursor: pointer;
  
  }
  /* ----------middle--------------- */
  *{
   margin: 0;
   padding: 0;
   font-family: poppins;
   box-sizing: border-box;
}
.middle{
   background-color: white;
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   background: #fff;
   font-size: 16px;
}
.middle > ul{
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}
.middle a{
   display: block;
   color: black;
   text-decoration: none;
   text-transform: uppercase;

}
.middle ul li{
   color: #fff;
   list-style: none;
   transition: 3s;
}
.middle >ul>li>a{
   padding: 15px 25px;
}
.middle ul.menu-area{
   padding: 40px 40px 0 40px;
   background: #fff;
   text-align: left;
   box-shadow: 0 5px 10px rgba(0,0,0,0.6);
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   top: -9999px;
   left: 0;
}
.middle ul li:hover ul.menu-area{
   top: 100%;
}
.middle ul.menu-area ul{
   width: 25%;
   margin-bottom: 40px;
   margin-left: 400px;
}
.middle ul.menu-area ul li a{
   margin-top: 10px;
   color: #000;
   text-transform: none;
}











/****************** Navbar consultant Start ***************************/

#navbar_consultant::before{
    content:"";
    background-color:white;
    position: absolute;
    height: 70px;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#navbar_consultant{
    width: 100%;
    /* border: 1px solid red; */
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: space-around;
    
    /* margin-left: -50px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#navbar_consultant ul{
    display: flex;

}
#navbar_consultant ul li{
    list-style: none;
    font-size: 1.3rem;
  
}
#navbar_consultant ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(37, 34, 34);
}
#navbar_consultant ul li a:hover{
    color: yellowgreen;
    background-color: rgb(68, 60, 60);
}
#navbar_consultant button{
    padding: 12px 37px;
    background-color: rgb(26, 21, 21);
    color: white;
    border: 0;
    margin-left: -20px;
}

/****************** Navbar End ***************************/

/******************* JOIN SECTION START ********************/

#join_top{

    display: flex;
}
#join_left{
   background-color: #6B96B7A6;
   height: auto;
}

#join_left h2{
   
    width: 60%;
    margin:150px 100px 30px 100px;
}
#join_left p{
    width: 60%;
    margin-left: 100px;
    margin-bottom: 80px;
    font-size: 16px;
 }
 #join_left button{
    padding: 12px 70px;
    background-color: white;
    color:black;
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 5px;
 }
 #join_right img{
  
    height: 100%;
 }
 #join_bottom{
    margin-top: 10px;
    display: flex;
    border: 20px solid white;
    background-color: rgba(226,211,204,0.898039);
 }
 #join_bottom_left{
    width: 40%;
 }
 #join_bottom_left img{
    max-width: 550px;
    left: 50%;
    /* transform: translateX(-50%); */
    margin: 0px;
    padding: 0px;
    display: block;
    /* position: absolute; */
    height: 100%;
 }
 #join_bottom_right{
    margin: 30px 60px;
 }
 #join_bottom_right h2{
    margin-bottom: 30px;
 }
 /* #join_bottom_right p{
    font-size: 17px;
 } */
 #join_bottom_right >p{
    margin-bottom: 20px;
 }

 #box{
    display: flex;
   width: 100%;
   margin: auto;
   gap: 20px;
 }
 #box p{
    margin-top: 20px;
 }
#box .anc{
    margin-top: 200px;
}
#box a{
    color: black;
}


/*************** Community Section ***************/
#community_section{
   height: 600px;
   background-color:#B0DED7A6
   
}
#community_section>h1{
   text-align: center;
   padding: 30px;
   
}
#community{
   width: 98%;
   height: 80%;
   margin: auto;
   overflow: scroll;
   display: flex;
   gap: 20px;
   /* overflow: hidden; */

}
#community>div>h5{
   width: 60%;
   margin: auto;
   font-size: 20px;
   margin-top: -200px;
   margin-bottom: 20px;
}
#community>div>p{
   width: 60%;
   margin: auto;
   font-size: 17px;

}
#community>div>img{
  height: 100%;
}

/************************** Get Stated Section *************************/
#get_start_section>h1{
   text-align: center;
   margin-top: 20px;
   padding: 20px;
}
#get_start{
   display: flex;
   gap: 30px;
   width: 95%;
   margin: auto;
   
}
#get_start>div>img{
   width: 400px;
   height: 200px;
}
#get_start>div>p{
   width: 80%;
   margin: auto;
   font-size: 17px;
}
#get_start>div>h5{
   width: 80%;
   margin: auto;
   margin-top: 20px;
   font-size: 20px;
   margin-bottom: 20px;
}

/************************* FAQ SECTION ********************/


@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   background: #f6f6f6;
}

#fAQ_section{
   width: 60%;
   margin: 100px auto;
   /* background: #fff; */
   border-radius: 7px;
   /* box-shadow: 1px 2px 4px rgba(0,0,0,.3); */
}



#fAQ_section .heading{
   /* background: white; */
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: black;
   /* text-align: center; */
   font-family: "Rubik";
}

.heading{
   font-size: 25px;
   margin-left: 20px;
}

.faqs{
   padding: 0px 40px 40px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   /* background: #f6f6f6; */
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 16px;
   letter-spacing: 1px;
   cursor: pointer;
}
details>p{
   margin: 30px;
   
}
details>summary{
   font-size: 20px;
}

details summary{
   outline: none;
}


/***************** FOOTER SEction ******************/
#footer{
   /* border:solid red; */
   height: 270px;
   
   margin-bottom: -20px;
   display: flex;
   overflow: hidden;
   width: 100%;
  }
  #footer>div:nth-child(1){
      /* border:solid blue; */
      height:100%;
      width:250px;
      
  }
  
  #footer>div:nth-child(2){
      /* border:solid blue; */
      height:100%;
      width:280px;
      margin-left: 20px;
      
  }
  #footer>div:nth-child(3){
      /* border:solid blue; */
      height: 100%;
      width:980px;
     
  }
  .smollWord{
      font-size: 12px;
      margin-left: 40px;
      line-height: 20px;
     cursor: pointer;
  }
  #footer>div:nth-child(3)>div{
      /* border:solid red; */
      height:20px;
      width:330px;
      display: flex;
      justify-content: space-between;
      margin-left: 250px;
  }
  .socialIcon{
      width:20px;
      cursor: pointer;
  }
  #footer>div:nth-child(3)>p{
      font-size: 25px;
      margin-left: 250px;
      margin-top: 50px;
  }
  
  #lastTuch{
      font-size: 13px;
      cursor: pointer;
  }
  #footMain{
      /* border:solid red;; */
      overflow: hidden;
      /* width: 100%; */
      
  }